[submodule "prog-cs-8-examples"]
	path = prog-cs-8-examples
	url = https://github.com/idg10/prog-cs-8-examples.git
[submodule "DI-Webcast"]
	path = DI-Webcast
	url = https://github.com/miguelcastro67/DI-Webcast.git
[submodule "Examples"]
	path = Examples
	url = https://github.com/autofac/Examples.git
[submodule "try-samples"]
	path = try-samples
	url = https://github.com/dotnet/try-samples.git
[submodule "Autofac-Examples"]
	path = Autofac-Examples
	url = https://github.com/autofac/Examples.git
[submodule "dive-into-design-patterns-book-code"]
	path = dive-into-design-patterns-book-code
	url = https://github.com/SDP-SPIII-2020/dive-into-design-patterns-book-code.git
[submodule "ComplexNumbersExample"]
	url = https://github.com/SDP-SPIII-2020/example-complex-numbers.git
[submodule "csharp-design-patterns"]
	path = csharp-design-patterns
	url = https://github.com/CodeMazeBlog/csharp-design-patterns.git
[submodule "example-complex-numbers"]
	path = example-complex-numbers
	url = https://github.com/SDP-SPIII-2020/example-complex-numbers.git
