<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Renderer" value="HelloWorldDecoupledWithFactory.StandardOutMessageRenderer" />
        <add key="Provider" value="HelloWorldDecoupledWithFactory.GoodbyeWorldMessageProvider" />
    </appSettings>
</configuration>